
html{
  
}

body{

}

.makemeeting{
  height: 50px;
  width: 50px;
}

.meetingname{
  height: 50px;
}

.comment:Navbar Code
{
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  display: inline;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
